<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <config>
    <add key="repositoryPath" value="./Packages" />
    <add key="PackagesConfigDirectoryPath" value="." />
    <!-- false: プロジェクトを開いた際の自動 Restore で依存パッケージまで解決する。
         packages.config に R3 だけ書いておけば新規 clone でも一式そろう。 -->
    <add key="slimRestore" value="false" />
  </config>
</configuration>
